#heading {
  color: midnightblue;
  text-align: center;
  text-decoration: bold;
  padding-top: 10px;
}

.emailbox {
  color: green;
  text-align: center;
}

.box {
    border: 1px solid black;
    margin: 40px;
    padding: 10px;
    box-shadow: 1px 3px #888888;
}

#engagefeedlink {
  text-align: center;
  color:#947d43;
  text-decoration-style: none;
  text-decoration: underline;

}
