.social-links {

  &__link {
    display: block;
    // max-width: 100px;
    // width: 75px;
    // height: 100px;
  }
  &__icon {
    display: block;
    height: auto;
    width: 100%;
  }
  
  .icon-github {
    background: url('/static/image/github-light.png');
    height: 50px;
    width: 50px;
  }
}