@import url("https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,700");

$primary-font-color: white;
$secondary-font-color: #04a9f4;
$primary-nav-color: #2c3e50;
$primary-bg-color:#18bc9c;
$secondary-bg-color:white;



*, *:before, *:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: $primary-font-color;
  overflow-x: hidden;
}
#app {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
}

